<div class="container my-5">
  <h1 class="mb-3">EDIT POLICy</h1>
  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="updatePolicy()">
        <!-- <div class="mb-3">
                <label for="policyName" class="form-label">id</label>
                <input type="number" class="form-control" id="policyName" name="id" [(ngModel)]="policydetails.id">
              </div> -->

        <div class="mb-3">
          <label for="policyName" class="form-label">Policy Name</label>
          <input type="text" class="form-control" id="policyName" name="policyName"
            [(ngModel)]="policydetails.policyName" >
        </div>

        <div class="mb-3">
          <label for="insuranceTye" class="form-label">InsuranceType</label>
          <input type="text" class="form-control" id="insuranceTye" name="insuranceTye"
            [(ngModel)]="policydetails.insuranceTye">
        </div>

        <div class="mb-3">
          <label for="ageLimit" class="form-label">AgeLimit</label>
          <input type="text" class="form-control" id="ageLimit" name="ageLimit" [(ngModel)]="policydetails.ageLimit">
        </div>
          
        <div class="mb-3">
          <label for="minimumAmount" class="form-label">Minimum Amount</label>
          <input type="number" class="form-control" id="minimumAmount" name="minimumAmount" [(ngModel)]="policydetails.minimumAmount">
        </div>

        <div class="mb-3">
          <label for="maximumAmount" class="form-label">Maximum Amount</label>
          <input type="number" class="form-control" id="maximumAmount" name="maximumAmount" [(ngModel)]="policydetails.maximumAmount">
        </div>

        <div class="mb-3">
          <label for="minDuration" class="form-label">Minimum Duration</label>
          <input type="number" class="form-control" id="minDuration" name="minDuration" [(ngModel)]="policydetails.minDuration">
        </div>

        <div class="mb-3">
          <label for="maxDuration" class="form-label">Maximum Duration</label>
          <input type="number" class="form-control" id="maxDuration" name="maxDuration" [(ngModel)]="policydetails.maxDuration">
        </div>

        <!-- <div class="mb-3">
                <label for="details" class="form-label">Details</label><br/> 
                <input type="text" class="form-control" id="details" name="details" [(ngModel)]="policydetails.details">
                <textarea name="message" rows="auto" cols="auto" placeholder="Details"[(ngModel)]="policydetails.Details" ></textarea>
              </div> -->

              

        <button type="submit" class="btn btn-primary">Save Policy</button>
        <button type="button" class="btn btn-danger m-4" (click)="deletePolicy(policydetails.id)">Delete Policy</button>
      </form>
    </div>
  </div>

</div>