


<div class="container my-5">
    <div class="row">
      <div class="col-6">
        <form >
            <div class="mb-3">
                <label for="policyName" class="form-label" style="font-family:Georgia, 'Times New Roman', Times, serif ;font-weight:900;font-size:x-large">Policy Name</label>
                <input type="text" class="form-control" id="policyName" name="policyName"
                  [(ngModel)]="applypolicy.policyName" [readonly]="true" style="font-size:large ; color:teal;font-weight:bolder">
              </div>
             
              <div class="mb-3">
                <label for="policyName" class="form-label" style="font-family:Georgia, 'Times New Roman', Times, serif ;font-weight:900;font-size:x-large">Applicant Name</label>
                <input type="text" class="form-control" id="policyName" name="policyName"
                  style="font-size:large ; color:teal;font-weight:bolder">
              </div>
              
              <div class="mb-3">
                <label for="policyName" class="form-label" style="font-family:Georgia, 'Times New Roman', Times, serif ;font-weight:900;font-size:x-large">Nominee</label>
                <input type="text" class="form-control" id="policyName" name="policyName"
                  style="font-size:large ; color:teal;font-weight:bolder">
              </div>

              <div class="mb-3">
                <label for="policyName" class="form-label" style="font-family:Georgia, 'Times New Roman', Times, serif ;font-weight:900;font-size:x-large" >Duration</label>
                 <select name="number" id="number" class="form-control">
                    <option>--SELECT AN OPTION--</option>
                    <option value="number">3</option>
                    <option value="number">4</option>
                    <option value="number">5</option>
                    <option value="number">10</option>
                 </select>
              </div>

              
        </form>
       